@import './base';

.projects {
	background-color: $color-secondary;
	// margin-right: 30px;
	width: 100%;

	.projects-inner {
		// max-width: 1200px;
		width: 70%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 45px;
		grid-row-gap: 45px;

		@media screen and (max-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media screen and (max-width: 1028px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (max-width: 500px) {
			grid-template-columns: 1fr;
		}

		.project-item {
			// max-width: 300px;
			// width: 300px;
			margin: 0;
			border: 3px solid black;

			// @media screen and (max-width: 1200px) {
			//  width: 250px;
			// }
			h4 {
				color: $color-black;
				font-size: 1.5rem;
				font-weight: normal;
				margin-top: 20px;
			}

			p {
				color: $color-black;
				margin: 0;
				line-height: 1.6;
			}

			img {
				width: 100%;
				height: 200px;
			}

			.project-btn {
				background-color: black;
				margin: 20px 0;
				padding: 12px 20px;
				border: none;
				color: white;
				border-radius: 5px;
				font-weight: bold;
				font-size: 19px;
			}
		}
	}
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	z-index: 1000;
	border-radius: 7px;
	background-color: white;
	padding: 50px;

	@media screen and (max-width: 500px) {
		width: 100%;
		height: 70vh;
		padding: 25px;
	}

	.modal-container {
		position: relative;

		h4 {
			font-size: 2rem;
		}

		.close-btn {
			position: absolute;
			right: 0;
			top: 0;
			color: black;
			font-size: 25px;
			border: none;
			font-weight: bold;
			background-color: white;

			@media screen and (max-width: 550px) {
				font-size: 20px;
			}
		}

		.modal-img {
			width: 50%;
			margin: 20px auto;
			max-height: 250px;

			@media screen and (max-width: 500px) {
				width: 80%;
			}
		}

		.modal-description {
			margin-bottom: 20px;
		}

		.modal-btn-container {
			display: flex;
			flex-direction: row;
			justify-content: center;

			.modal-btn {
				border-radius: 7px;
				width: 140px;
				height: 50px;
				border: none;
				font-size: 14px;
				font-weight: bold;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px;
				font-size: 19px;
			}
			.preview-btn {
				background-color: blue;
				color: white;
			}
			.code-btn {
				background-color: #e5e5e5;
				color: black;
			}
		}
	}
}

.modal.active {
	display: block;
}

.overlay {
	display: none;
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 900;
}

.overlay.active {
	display: block;
}

// .projects-inner {
//  max-width: 1200px;
//  width: 70%;
//  margin: 0 auto;
//  display: grid;
//  grid-template-columns: 1fr 1fr 1fr 1fr;
//  grid-column-gap: 45px;
//  grid-row-gap: 45px;

//  @media screen and (max-width: 768px) {
//      grid-template-columns: 1fr 1fr;
//  }
//  @media screen and (max-width: 500px) {
//      grid-template-columns: 1fr;
//  }
// }

.about {
	padding: 20px 45px;
	background-color: $color-secondary;
}

.about-inner {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(minmax(300px, 1fr));
	grid-column-gap: 45px;
	grid-row-gap: 45px;
}

.about-item h6 {
	color: $color-black;
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0;
	font-weight: bold;
}

.about-item p {
	color: $color-black;
	margin: 0;
	line-height: 1.6;
	font-size: 30px;
}
